<div class="indexBody">
<br>
<%= image_tag "archlogo.png", :class => "logo" %>

<div class="container">
   <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Create a new session</h3>
          </div>
          <div class="panel-body">
                  
            <%=form_for @mysession, html: { multipart: true } do |f|  %>
            
            <!-- Session Name -->
            <h5><%= f.label "Session Name:" %></h5> 
            <%= f.text_field :name ,:placeholder => "Project name..." , :class =>"form-control"%>   
            
            <!-- Session Topic -->
            <h5><%= f.label "Session topic: " %> </h5>   <%= f.text_area :description , size: "18x5" ,:placeholder => "Discussion topic...", :class => "form-control" %>
            
             <!-- Attendiees -->
             <h5><b> Invite:</b> <br>
            <% if @allUsers %>
               <%=  collection_select(:users, :user_id, @allUsers, :id, :email, {:prompt => true}) %>
            <% end %>
            <button class="invite-form-button btn btn-default btn-xs">Invite</button>
             <%= f.text_area :other, size: "18x3", :class =>"form-control email-area" %>
            
            <!-- Date -->
            <h5><%= f.label "Date:" %>  <%= f.date_select :date,:placeholder => "mm/dd/yyyy", :class =>"form-control" %></h5>
            
            <!-- Time -->
            <h5><%= f.label "Time:" %>  <%= f.time_select :time,:placeholder => "hh:mm", :class =>"form-control" %></h5>
            
            <%= f.submit "Create Session", :class => "btn btn-success"%>
         <% end %>
         </div>
        </div>      
      </div>

<!-- Current Sessions -->
      
      <div class="col-md-6">
         <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Current Sessions</h3></div>
          <div class="table-responsive">
             <table class="table ">
                <thead>
                   <th>Session</th>
                   <th>Date</th>
                   <th>time</th>
                   <th>Anttendees</th>
                   <th>Edit</th>
                </thead>
                <tbody>
                <% if @currentSessions %>
                  <% @currentSessions.each do |mysession| %>   
                     <tr>
                        <td><%= mysession.name %></td>
                        <td><%= mysession.date %></td>
                        <td><%= mysession.time.strftime("%I:%M%p")  %></td>
                        <td>
                            <%= mysession.creator%>
                            <span class="badge"><%= mysession.users.length%></span>
                        </td>
                        <td>

                           <%= link_to "Open", mysession_path(mysession), :class => "btn btn-primary open btn-xs"%>
                           <%= link_to "Edit", edit_mysession_path(mysession), :class => "btn btn-default btn-xs"%>
                           <%= link_to "Delete", mysession_path(mysession), :method => :delete,:class => "btn btn-default btn-xs", data: {confirm: "Are you Sure you want to delete this session?         NOTE: You won't be able to recover this session"} %>
                        </td>
                     </tr>
                  <% end %> 
                <% end %>      
                </tbody>
             </table>
            </div>         

        </div>
      </div> <!-- Closes col-md-8 -->

  <!-- Previous Sessions -->
      <div class="col-md-6">
         <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Past Sessions</h3></div>
          <div class="table-responsive">
             <table class="table ">
                <thead>
                   <th>Session</th>
                   <th>Date</th>
                   <th>time</th>
                   <th>Anttendees</th>
                   <th>Edit</th>
                </thead>
                <tbody>
                <% if @prevSessions %>
                  <% @prevSessions.each do |mysession| %>   
                     <tr>
                        <td><%= mysession.name %></td>
                        <td><%= mysession.date %></td>
                        <td><%= mysession.time.strftime("%I:%M%p")  %></td>
                        <td>
                            <%= @user.email %>
                            <span class="badge">4</span>
                        </td>
                        <td>
                           <%= link_to "Open", mysession_path(mysession), :class => "btn btn-primary open btn-xs"%>
                           <%= link_to "Edit", edit_mysession_path(mysession), :class => "btn btn-default btn-xs"%>
                           <%= link_to "Delete", mysession_path(mysession), :method => :delete,:class => "btn btn-default btn-xs", data: {confirm: "Are you Sure you want to delete this session?         NOTE: You won't be able to recover this session"} %>
                        </td>
                     </tr>
                  <% end %>      
                <% end %>      
                </tbody>
             </table>
            </div>         

        </div>
      </div> <!-- Closes col-md-8 -->

</div>


</div>
<% if @mysession.errors.any? %>
             <% @mysession.errors.full_messages.each do |error|%>
             <p class="text-danger">
                <%= error%>
             </p>
             <% end %>
          <% end %>         