<!DOCTYPE html>
<html>
<head>
  <title>Arch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <!-- JavaScript Graphics Library -->
  <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script> 
  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/> -->
  
  

</head>
<body class="body">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%= image_tag "archlogo.png", :class => "logo" %></a>
      <!-- Search bar -->
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control input-sm" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default btn-sm">Submit</button>
          </form>   
      </div>
      <!-- closes left div -->
      <!-- Links to the right -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right navbar-inverse">
            <% if current_user %>
            <li class="navbar-text " style="color:#A0DC7F;">Welcome <span class="text-right" style="color: white"><%= current_user.email %></span>&nbsp</li>
            <% end %>
          <li><%=link_to "Invite", new_user_invitation_path %> </li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    
    </div>
  </nav>


      
      
    </ul>


  <%= yield %>


  
</body>
</html>
