<!DOCTYPE html>
<html>
<head>
  <title>Arch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <!-- JavaScript Graphics Library -->
  <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script> 
  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/> -->
  
  

</head>
<body class="body">
	<div class="container-fluid">
		<ul class="nav nav-tabs ">
			<li><%= link_to "Sign in", new_user_session_path %></li>
			<li><%= link_to "Sessions", sessions_path %></li>
			<li><%=link_to "Invite", new_user_invitation_path %> </li>
			<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Name &nbsp</a></p> 
	</div>

  <%= yield %>


  
</body>
</html>
